flow-example
[
    {
        "id": "749bbf90.6fd7b",
        "type": "subflow",
        "name": "Tasmota-Telemetry",
        "info": "Converts Tasmota telemetry messages from MQTT to individual outputs.\n\nThe throttled outputs assume a 300 second telemetry interval to smooth the output to one message per 15 minutes.\nFor graphing, the Power output state is sent as 0 for Off and 1 for On.\n\nUnthrottled outputs are meant for static Displays on the UI, they may need refinement to be used for graphs.",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 420,
                "wires": [
                    {
                        "id": "805ddcb7.ca716"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1220,
                "y": 180,
                "wires": [
                    {
                        "id": "58d345f5.2a025c",
                        "port": 0
                    },
                    {
                        "id": "3ed1882c.4205a8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1220,
                "y": 220,
                "wires": [
                    {
                        "id": "a941b71d.cff778",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 260,
                "wires": [
                    {
                        "id": "969a9ca.237736",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 300,
                "wires": [
                    {
                        "id": "4e7cdfb1.bbef4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 340,
                "wires": [
                    {
                        "id": "658168a3.fba2c8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 380,
                "wires": [
                    {
                        "id": "e7f33167.fdc99",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 420,
                "wires": [
                    {
                        "id": "f3439c59.96567",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 460,
                "wires": [
                    {
                        "id": "2cb6eb5a.14e3e4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 500,
                "wires": [
                    {
                        "id": "adacf2db.4cf65",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 540,
                "wires": [
                    {
                        "id": "f4950d4c.f4ca6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 580,
                "wires": [
                    {
                        "id": "e8de4b09.f4d878",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 620,
                "wires": [
                    {
                        "id": "32447da7.899022",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 660,
                "wires": [
                    {
                        "id": "f0471e53.beaa5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 700,
                "wires": [
                    {
                        "id": "8c2e5ee0.a1515",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 740,
                "wires": [
                    {
                        "id": "3ed1882c.4205a8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1220,
                "y": 780,
                "wires": [
                    {
                        "id": "e0564bb2.3ef008",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "inputLabels": [
            "MQTT-Telemetry Input"
        ],
        "outputLabels": [
            "Power-State - true/false (1msg/15min or state-change)",
            "UptimeSeconds - Numeric (1msg/15min)",
            "WiFi-Signal - Numeric % (1msg/15min)",
            "Timestamp - String",
            "Uptime - String",
            "SleepMode-Type - String",
            "SleepTime - Numeric",
            "Load Average - Numeric",
            "WiFi-AP - Numeric",
            "WiFi-Signal - Numeric",
            "WiFi-SSId - String",
            "WiFi-Channel - Numeric",
            "WiFi-BSSId - Network-Address",
            "Load Average - Numeric (1msg/15min)",
            "Power-State - true/false",
            "Power-State - true/false (1msg/1min or state-change)"
        ],
        "icon": "node-red/switch.png"
    },
    {
        "id": "805ddcb7.ca716",
        "type": "json",
        "z": "749bbf90.6fd7b",
        "name": "To JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "eedd4b74.8c57e8",
                "344a83fe.77f65c",
                "37fbd2f6.92b5de",
                "658168a3.fba2c8",
                "e7f33167.fdc99",
                "f3439c59.96567",
                "2cb6eb5a.14e3e4",
                "e8de4b09.f4d878",
                "adacf2db.4cf65",
                "32447da7.899022",
                "4e7cdfb1.bbef4",
                "f0471e53.beaa5",
                "f4950d4c.f4ca6"
            ]
        ]
    },
    {
        "id": "eedd4b74.8c57e8",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Power",
        "func": "if ( msg.payload.POWER == \"ON\" ) {\n    var PowerOut = { topic: msg.name, title: msg.name + '-Power', payload: true };\n    return PowerOut;\n} else if ( msg.payload.POWER == \"OFF\" ) {\n    var PowerOut = { topic: msg.name, title: msg.name + '-Power', payload: false };\n    return PowerOut;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "3ed1882c.4205a8"
            ]
        ]
    },
    {
        "id": "3ed1882c.4205a8",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Bypass limit if new power state",
        "func": "if (context.get(msg.topic) == msg.payload) {\n    return [ msg, null ];\n} else {\n    context.set(msg.topic, msg.payload);\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "58d345f5.2a025c"
            ],
            [
                "e0564bb2.3ef008"
            ]
        ]
    },
    {
        "id": "58d345f5.2a025c",
        "type": "delay",
        "z": "749bbf90.6fd7b",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 960,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "344a83fe.77f65c",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: UptimeSec",
        "func": "if ( msg.payload.UptimeSec !== 'undefined' ) {\n    var VccOut = { topic: msg.name, title: msg.name + '-UpSec', payload: msg.payload.UptimeSec };\n    return VccOut;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "a941b71d.cff778"
            ]
        ]
    },
    {
        "id": "37fbd2f6.92b5de",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Signal",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.RSSI) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-Signal', payload: msg.payload.Wifi.RSSI };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "47a856db.ed52f8"
            ]
        ]
    },
    {
        "id": "47a856db.ed52f8",
        "type": "smooth",
        "z": "749bbf90.6fd7b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "3",
        "mult": "multi",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "969a9ca.237736"
            ]
        ]
    },
    {
        "id": "a941b71d.cff778",
        "type": "delay",
        "z": "749bbf90.6fd7b",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "969a9ca.237736",
        "type": "delay",
        "z": "749bbf90.6fd7b",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4e7cdfb1.bbef4",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Time",
        "func": "if (msg.payload.Time) {\n    var TimeOut = { topic: msg.name, title: msg.name + '-Time', payload: msg.payload.Time };\n    return TimeOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "658168a3.fba2c8",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Uptime",
        "func": "if (msg.payload.Uptime) {\n    var TimeOut = { topic: msg.name, title: msg.name + '-Uptime', payload: msg.payload.Uptime };\n    return TimeOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e7f33167.fdc99",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: SleepMode",
        "func": "if (msg.payload.SleepMode) {\n    var TimeOut = { topic: msg.name, title: msg.name + '-SleepMode', payload: msg.payload.SleepMode };\n    return TimeOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f3439c59.96567",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Sleep",
        "func": "if (msg.payload.Sleep) {\n    var TimeOut = { topic: msg.name, title: msg.name + '-Sleep', payload: msg.payload.Sleep };\n    return TimeOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2cb6eb5a.14e3e4",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: LoadAvg",
        "func": "if (msg.payload.LoadAvg) {\n    var TimeOut = { topic: msg.name, title: msg.name + '-LoadAvg', payload: msg.payload.LoadAvg };\n    return TimeOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "2bd0a70.6f0ca5a"
            ]
        ]
    },
    {
        "id": "e8de4b09.f4d878",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Wifi SSId",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.SSId) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-SSId', payload: msg.payload.Wifi.SSId };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "adacf2db.4cf65",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Wifi.AP",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.AP) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-AP', payload: msg.payload.Wifi.AP };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "32447da7.899022",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Wifi Channel",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.Channel) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-Channel', payload: msg.payload.Wifi.Channel };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f4950d4c.f4ca6",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Wifi Signal",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.RSSI) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-Signal', payload: msg.payload.Wifi.RSSI };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f0471e53.beaa5",
        "type": "function",
        "z": "749bbf90.6fd7b",
        "name": "Filter: Wifi BSSId",
        "func": "if (msg.payload.Wifi && msg.payload.Wifi.BSSId) {\n    var SignalOut = { topic: msg.name, title: msg.name + '-WLAN-BSSId', payload: msg.payload.Wifi.BSSId };\n    return SignalOut;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8c2e5ee0.a1515",
        "type": "delay",
        "z": "749bbf90.6fd7b",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 960,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "2bd0a70.6f0ca5a",
        "type": "smooth",
        "z": "749bbf90.6fd7b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "3",
        "mult": "multi",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "8c2e5ee0.a1515"
            ]
        ]
    },
    {
        "id": "e0564bb2.3ef008",
        "type": "trigger",
        "z": "749bbf90.6fd7b",
        "op1": "",
        "op2": "false",
        "op1type": "pay",
        "op2type": "bool",
        "duration": "-1",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "topic",
        "name": "Trigger & Repeat",
        "x": 930,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7a07c9c.9b5ff38",
        "type": "subflow:749bbf90.6fd7b",
        "z": "5854932d.cc04ec",
        "name": "",
        "x": 1030,
        "y": 500,
        "wires": [
            [],
            [],
            [],
            [
                "95acc8be.9d9998"
            ],
            [
                "1e6a7f31.4d9111"
            ],
            [
                "cde69eb4.ff9e2"
            ],
            [
                "e7e13868.f37ef8"
            ],
            [
                "a7a0df1b.a7391"
            ],
            [
                "2d60dedb.14d262"
            ],
            [
                "d25cc0b1.66ab7"
            ],
            [
                "f295141b.605698"
            ],
            [
                "bd11ab3b.f3cde8"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "95acc8be.9d9998",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Letzte Meldung:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1500,
        "y": 420,
        "wires": []
    },
    {
        "id": "1e6a7f31.4d9111",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Laufzeit:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1480,
        "y": 460,
        "wires": []
    },
    {
        "id": "cde69eb4.ff9e2",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Schlafmodus:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1500,
        "y": 500,
        "wires": []
    },
    {
        "id": "e7e13868.f37ef8",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Schlafzeit:",
        "format": "{{msg.payload}}ms",
        "layout": "row-left",
        "x": 1490,
        "y": 580,
        "wires": []
    },
    {
        "id": "a7a0df1b.a7391",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 5,
        "width": "2",
        "height": "2",
        "name": "",
        "label": "CPU-Last:",
        "format": "{{msg.payload}}%",
        "layout": "col-center",
        "x": 1490,
        "y": 540,
        "wires": []
    },
    {
        "id": "2d60dedb.14d262",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "AP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1690,
        "y": 420,
        "wires": []
    },
    {
        "id": "d25cc0b1.66ab7",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Signalstärke:",
        "format": "{{msg.payload}}%",
        "layout": "row-right",
        "x": 1710,
        "y": 500,
        "wires": []
    },
    {
        "id": "f295141b.605698",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 10,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Netzwerk:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1700,
        "y": 540,
        "wires": []
    },
    {
        "id": "bd11ab3b.f3cde8",
        "type": "ui_text",
        "z": "5854932d.cc04ec",
        "group": "33960bd7.113704",
        "order": 8,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Kanal:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1690,
        "y": 460,
        "wires": []
    },
    {
        "id": "6dc5f54e.7c43cc",
        "type": "change",
        "z": "5854932d.cc04ec",
        "name": "Name: Sonoff-001",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "Sonoff-001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "7a07c9c.9b5ff38",
                "db4e2216.e5cfd"
            ]
        ]
    },
    {
        "id": "b3eb1c41.279f",
        "type": "mqtt in",
        "z": "5854932d.cc04ec",
        "name": "stat/Sonoff-001/RESULT",
        "topic": "stat/Sonoff-001/RESULT",
        "qos": "1",
        "broker": "97142318.4a21c",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "6dc5f54e.7c43cc"
            ]
        ]
    },
    {
        "id": "aea22edc.159e6",
        "type": "mqtt in",
        "z": "5854932d.cc04ec",
        "name": "tele/Sonoff-001/STATE",
        "topic": "tele/Sonoff-001/STATE",
        "qos": "1",
        "broker": "97142318.4a21c",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "6dc5f54e.7c43cc"
            ]
        ]
    },
    {
        "id": "569eec28.484af4",
        "type": "comment",
        "z": "5854932d.cc04ec",
        "name": "TV-Schlafzimmer - Sonoff-001",
        "info": "",
        "x": 200,
        "y": 400,
        "wires": []
    },
    {
        "id": "33960bd7.113704",
        "type": "ui_group",
        "z": "",
        "name": "Sonoff-001",
        "tab": "d7fa5297.63d28",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "97142318.4a21c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Main",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "Raspberry",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d7fa5297.63d28",
        "type": "ui_tab",
        "z": "",
        "name": "Diagnosedaten",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]